{{#each this}}
<ul class="tag-list">
    <li class="tag-list__item">{{this}}</li>
    <li class="tag-list__item">{{this}}</li>
    <li class="tag-list__item">{{this}}</li>
    <li class="tag-list__item">{{this}}</li>
    <li class="tag-list__item">{{this}}</li>
    <li class="tag-list__item">{{this}}</li>
</ul>
{{/ecah}}